Importadora/Connected Services/ServicioImportacion/ServicioImportacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfImportacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfImportacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60773/ServicioImportacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DTOImportacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadUnidades" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="ser:char" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOImportacion" nillable="true" type="tns:DTOImportacion" />
</xs:schema>