Importadora/Connected Services/ServicioProducto/ServicioProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53338/ServicioProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53338/ServicioProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53338/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFCProductos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProductos_TraerTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodo" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_TraerTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ProductosEnStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosEnStock" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ProductosEnStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosEnStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProductos">
    <wsdl:operation name="TraerTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/TraerTodo" message="tns:IServicioProductos_TraerTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/TraerTodoResponse" message="tns:IServicioProductos_TraerTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosEnStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/ProductosEnStock" message="tns:IServicioProductos_ProductosEnStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ProductosEnStockResponse" message="tns:IServicioProductos_ProductosEnStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProductos" type="tns:IServicioProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerTodo">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/TraerTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductosEnStock">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/ProductosEnStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProductos">
    <wsdl:port name="BasicHttpBinding_IServicioProductos" binding="tns:BasicHttpBinding_IServicioProductos">
      <soap:address location="http://localhost:53338/ServicioProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>