Importadora/Connected Services/ServicioProducto/ServicioProductos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53338/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFCProductos" />
  <xs:element name="TraerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFCProductos" minOccurs="0" name="TraerTodoResult" nillable="true" type="q1:ArrayOfDTOProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductosEnStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductosEnStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WFCProductos" minOccurs="0" name="ProductosEnStockResult" nillable="true" type="q2:ArrayOfDTOProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>