Importadora/Connected Services/ServicioProducto/ServicioProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFCProductos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFCProductos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOProducto" nillable="true" type="tns:DTOProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOProducto" nillable="true" type="tns:ArrayOfDTOProducto" />
  <xs:complexType name="DTOProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProducto" nillable="true" type="tns:DTOProducto" />
</xs:schema>